<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" lang="fr">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body style="width: 100vw">
<header>

</header>
<div style="background-color: #1e88e5; padding: 20px; text-align: center; color: white; border-radius: 8px 8px 0 0;">
    <h1 style="margin: 0;">{% block introduction %} Bienvenue, {{ nom }} ! {% endblock %}</h1>
</div>
<div style="background-color: white; padding: 30px; border: 1px solid #ddd; border-top: none; border-radius: 0 0 8px 8px;">
    {% block body %}

    {% endblock %}
    <div style="text-align: center; font-size: 12px; color: #999; margin-top: 20px;">
        © {{ "now"|date("Y") }} CRM Management  - Tous droits réservés.
    </div>
</div>
</body>
</html>
